// Fonts

$font-size-huge: 4.0rem;
$font-size-xl: 3.0rem;
$font-size-large: 2.4rem;
$font-size-medium: 2.0rem;
$font-size-regular: 1.8rem;
$font-size-base: 1.6rem;
$font-size-small: 1.4rem;
$font-size-tiny: 1.2rem;
$font-size-caption: 0.875rem;

$font-family-base: sans-serif;

$font-weight-light: 300; 
$font-weight-regular: 400; 
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-extrabold: 900;

$h1-font-size: $font-size-huge;
$h2-font-size: $font-size-xl;
$h3-font-size: $font-size-large;
$h4-font-size: $font-size-medium;
$h5-font-size: $font-size-regular;
$h6-font-size: $font-size-base;